In [1]:
from utils import runwrite
import matplotlib.pyplot as plt

# smoothing.py

In [2]:
%%runwrite ../timegym/smoothing.py

import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.normal(size=1000), columns=['target'], 
                  index=pd.date_range('2012-12-12', periods=1000))
df

              target
2012-12-12 -0.485961
2012-12-13 -0.187551
2012-12-14 -1.167308
2012-12-15  0.934189
2012-12-16  2.784945
...              ...
2015-09-03 -0.931009
2015-09-04  0.873263
2015-09-05  0.311032
2015-09-06  0.824527
2015-09-07  0.538035

[1000 rows x 1 columns]

## Moving Averages

In [4]:
%%runwrite -a ../timegym/smoothing.py

def simple_moving_average(df, window_length=30, min_periods=1):
    df = pd.DataFrame(df)
    ma = df.iloc[:,0].rolling(window_length, min_periods=min_periods).mean()
    ma.rename(f'{df.columns[0]}_MA{window_length}', inplace=True)
    return pd.concat([df, ma], axis=1)

In [5]:
simple_moving_average(df)

              target  target_MA30
2012-12-12 -0.485961    -0.485961
2012-12-13 -0.187551    -0.336756
2012-12-14 -1.167308    -0.613607
2012-12-15  0.934189    -0.226658
2012-12-16  2.784945     0.375663
...              ...          ...
2015-09-03 -0.931009     0.135030
2015-09-04  0.873263     0.123600
2015-09-05  0.311032     0.132175
2015-09-06  0.824527     0.152296
2015-09-07  0.538035     0.164245

[1000 rows x 2 columns]

In [6]:
%%runwrite -a ../timegym/smoothing.py

def exponential_moving_average(df, exponential_alpha=None, statistic='mean'):
    df = df.copy()
    df = df.ewm(alpha=exponential_alpha)
    if statistic=='mean':
        return df.mean()
    elif statistic=='median':
        return df.median()
    else:
        raise NotImplementedError()

In [7]:
exponential_moving_average(df, exponential_alpha=0.5)

              target
2012-12-12 -0.485961
2012-12-13 -0.287021
2012-12-14 -0.790042
2012-12-15  0.129548
2012-12-16  1.500075
...              ...
2015-09-03 -0.615133
2015-09-04  0.129065
2015-09-05  0.220049
2015-09-06  0.522288
2015-09-07  0.530161

[1000 rows x 1 columns]

## Kalman Filter

In [8]:
# TODO: implement https://pykalman.github.io/

## Gaussian Processes Smoothing

In [9]:
# TODO: implement https://docs.pymc.io/pymc-examples/examples/gaussian_processes/GP-smoothing.html